<ng-container *transloco="let t">
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/dwvz_text.png"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <!-- Username input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="text" id="username" name="username" class="form-control" [(ngModel)]="username" />
              <label mdbLabel class="form-label" for="username">{{ t('Username')}}</label>
            </mdb-form-control>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="password" id="password" name="password" class="form-control" [(ngModel)]="password" />
              <label mdbLabel class="form-label" for="password">{{ t('Password')}}</label>
            </mdb-form-control>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="invalidLogin"> {{ t("Credentials are incorrect")}}</div>
          <div class="d-flex justify-content-between align-items-center">
            <mdb-form-control>
              <div class="form-check mb-0">
                <input mdbCheckbox class="form-check-input me-2" type="checkbox"
                       id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe"  />
                <label class="form-check-label" for="rememberMe">
                  {{ t('Remember me')}}
                </label>
              </div>
            </mdb-form-control>
            <a href="/forgot-password" class="text-body">{{t('Forgot password')}}?</a>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg" (click)=checkLogin()
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">{{ t('Sign in')}}</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
</ng-container>
