.logo {
  height: 70px;
  margin-top: 15px;
  margin-left: 60px;
}

.login-background {
  height: 100vh;
  width: 100vw;
}

.login-overlay{
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: absolute;
}

.login-grid{
  width: 40vh;
}

.login-menu{
  background-color: black;
}

.login-button
{
  color: #000000;
  background-color: #CEBFB2;
}
