<ng-container *transloco="let t">
  <div class="login-background" style="background-image: url('assets/inlog_achtergrond_1.png'), url('assets/inlog_achtergrond_2.png');" >
    <img class="logo" src="assets/dwvz_text2.png" alt="De Wachtverzachter" loading="lazy">
    <div class="d-flex flex-column align-items-center justify-content-center login-overlay">
      <h1>Het narrowcastingsysteem</h1>
      <h1> dat je begrijpt</h1>
      <div class="login-grid">
        <baseform [entityForm]="mfaForm" (onSubmitBaseForm)="onSubmit()" description="Verify" label="Verify">
          <div class="mb-2">
            <cs-form-input [formGroup]="mfaForm" name="challenge" errMessage="{{ t('Challenge')}}" label="{{ t('Challenge')}}" [required]=true></cs-form-input>
          </div>
        </baseform>
      </div>
    </div>
  </div>
  </ng-container>
