<li>
  <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white ">
    <i class="fs-4 {{ icon }}"></i> <span class="ms-1 d-none d-sm-inline">{{  text }}</span></a>
  <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
    <li class="w-100 ">
      <a href="#" class="nav-link px-0  text-white "> <span class="d-none d-sm-inline text">Item</span> 1</a>
    </li>
    <li>
      <a href="#" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Item</span> 2</a>
    </li>
  </ul>
</li>
