<div>
  <div class="d-flex flex-column align-items-center justify-content-center login-overlay">
    <div class="login-grid">
      <div class="alert alert-danger w-100" role="alert" *ngIf="invalidLogin">Credentials are incorrect</div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <div class="mb-8">
            <div class="mb-1">
              <input type="text" id="username" placeholder="Email" class="form-control" [(ngModel)]="username">
            </div>
            <div class="mb-4">
              <input type="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="password">
            </div>
          </div>
          <button type="button" class="btn btn-dark" data-mdb-ripple-init (click)="checkLogin()" (window:keyup.enter)="checkLogin()">
            <span>Sign in</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
